* text=auto
*.py  text eol=lf
*.txt text eol=lf
*.md  text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ini text eol=lf
*.cfg text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.sh text eol=lf
LICENSE     text eol=lf
LICENSE.txt text eol=lf
*.ico binary
*.exe binary
*.zip binary
*.png binary
*.jpg binary
*.pdf binary
